#tabbar {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 100%;
}
#tabbar .tab-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#tabbar .tab-item Image {
  width: 100px;
  height: 100px;
}