#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
}
#home-container .to-checkin {
  height: 350px;
  width: 80%;
  background-color: skyblue;
  border-radius: 30px;
}
#home-container .to-clean {
  height: 350px;
  width: 80%;
  background-color: skyblue;
  border-radius: 30px;
}
#home-container .to-workspace {
  height: 350px;
  width: 80%;
  background-color: skyblue;
  border-radius: 30px;
}