.checkin {
  margin-right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #eeeeee;
  width: 100vw;
}

.list-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
}

.list-section {
  width: 45%;
}

.list-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.list {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.list-item {
  padding: 5px 0;
}

